.container {
  max-width: var(--width-container);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 40px 20px;
  align-items: center;
}

.wrapper {
  display: grid;
  width: 100%;
  gap: var(--sm-spacing);
}

@media (width >= 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* card */
.card {
  border-radius: 20px;
  box-shadow: rgba(25, 26, 25, 0.05) 0px 0px 55px 39px;
  border: var(--border-light);
  background-color: white;
  padding: var(--sm-spacing);
  transition: all 0.2s;
}

.card:hover {
  transform: rotate(-5deg);
  transition: all 0.2s;
}

.title {
  font-weight: 700;
  font-size: 20px;
  color: var(--purple-100);
  margin-bottom: 12px;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.muted {
  font-size: 14px;
  color: var(--muted-color);
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.degree {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.mark {
  color: var(--muted-color);
}

.technologies {
  font-style: italic;
}
