:root {
  --secondary-color: #f4f4f4;
  --black-color: rgb(47, 54, 63);
  --light-gray: #d5d5d5;

  --width-container: 1170px;
  --border-radius: 8px;

  --xs-spacing: 12px;
  --sm-spacing: 20px;

  --border-light: 1px solid var(--light-gray);

  --purple-100: rgb(60 33 151);
  --purple-200: #076463;

  --background-gradient: linear-gradient(
    310deg,
    #080707 37%,
    #9b8181c7 48%,
    #000000c7 0,
    #000 57%
  );
}

html,
body {
  scroll-margin-top: 80px;
  scroll-behavior: smooth;
  max-width: 100vw;
  font-family: var(--font-jakarta);
  background-color: var(--secondary-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-width: 0;
}

button,
[role='button'] {
  cursor: pointer;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
