.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 120px 20px 20px 20px;
  max-width: var(--width-container);
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

/* image */
.wrapperImage {
  position: relative;
}

.image {
  max-width: 300px;
  width: 100%;
  height: 700px;
  object-fit: contain;
}

@media (width >= 768px) {
  .image {
    max-width: 500px;
  }
}

.text {
  position: absolute;
  top: 90px;
  right: 42px;

  width: 200px;
  overflow: visible;
  transform: rotate(-8deg);
}

@media (width >= 768px) {
  .text {
    top: -30px;
    right: 140px;
  }
}

.text path {
  opacity: 0;
  transition: opacity 0.2s;
}

/* contacts */

.contacts {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 40%;
  width: 100%;
  justify-content: space-around;
  padding-inline: 20px;
}

@media (width >= 768px) {
  .contacts {
    width: 60%;
    gap: 40px;
  }
}

.link {
  transition: all 0.5s;
}

.link:hover {
  transition: all 0.5s;
  scale: 1.1;
}

.align {
  margin-right: auto;
}

